APScheduler==3.6.1
asn1crypto==0.24.0
chardet==3.0.4
Click==7.0
cmdtest==0.32
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.1
Flask-Cors==3.0.8
funcsigs==1.0.2
futures==3.3.0
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
Markdown==2.6.9
MarkupSafe==1.1.1
mysql-connector-python==8.0.18
mysqlclient==1.3.10
protobuf==3.10.0
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
python-amazon-product-api==0.2.8
python-crontab==2.3.9
python-dateutil==2.8.0
pytz==2019.2
pyxdg==0.25
PyYAML==3.12
SecretStorage==2.3.1
six==1.12.0
SQLAlchemy==1.3.10
ttystatus==0.38
tzlocal==2.0.0
Werkzeug==0.16.0
