alabaster==0.7.8
APScheduler==3.6.1
asn1crypto==0.24.0
attrs==17.4.0
Babel==2.4.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
cairocffi==0.8.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorspacious==1.1.0
cryptography==2.3
cycler==0.10.0
decorator==4.1.2
docutils==0.14
enum34==1.1.6
Flask==1.1.1
Flask-Cors==3.0.8
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gunicorn==19.9.0
idna==2.6
imagesize==0.7.1
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
Markdown==2.6.9
MarkupSafe==1.1.1
matplotlib==2.2.4
mock==2.0.0
mysql-connector-python==8.0.18
mysqlclient==1.3.10
nose==1.3.7
numpy==1.16.5
numpydoc==0.7.0
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
pluggy==0.6.0
ply==3.11
prompt-toolkit==1.0.15
protobuf==3.10.0
py==1.5.2
pycparser==2.18
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.4.2
pyproj==1.9.5.1
pyshp==1.2.12
pytest==3.3.2
python-amazon-product-api==0.2.8
python-crontab==2.3.9
python-dateutil==2.8.0
pytz==2019.2
requests==2.18.4
roman==2.0.0
scandir==1.7
scipy==0.19.1
SecretStorage==2.3.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
Sphinx==1.6.7
sphinx-gallery==0.1.13
SQLAlchemy==1.3.10
subprocess32==3.5.4
tornado==4.5.3
traitlets==4.3.2
ttystatus==0.38
typing==3.6.2
tzlocal==2.0.0
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.16.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlwt==0.7.5
