<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
      <title class="title">GraphIt</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/filters.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/product_common.css') }}">
      <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/area_graph.png') }}">
      <button class="user">
        <form action="/customers">
          <input type="text" name="customer_id">
        </form>
      </button>
  </head>
  <body>
    <header>
	    <img src="https://datavizcatalogue.com/methods/images/top_images/area_graph.png" onclick="visitHomepage()" class="logo" title="Visit homepage" alt="GraphIt">
        <div class="success" id="success"></div>
    </header>
    <div class="container">
      <section class="filters">
          <input type="text" class="input-group-field search-input" value="" title="Enter keywords to find products" placeholder="Enter keywords to find products" style="height:60px; width: 800px;">
          <button onclick="searchPage()">Search</button>
      </section>
    </div>
    <div class="product_list">
        {% for item in items %}
        <div class = product>
            <img class="product_image" src="{{  item['image_url'] }}" alt={{ item["title"] }}>
            <div class="product_title_description">
                <h1>{{ item["title"] }}</h1>
                <p>Price: ₹{{ item["price"] }}</p>
                <button class="flipkart"> <a href="{{ item['product_url'] }}" >Shop from Flipkart </a></button>
                {% if not disable_track_product %}
                <section class="username">
                    <input type="text" class="input-group-field {{ item['product_id'] }}" value="" title="customer_id" id="{{ item['product_id'] }}" placeholder="name" style="height:20px; width: 110px;">
                    <button onclick="trackProduct('{{ item['product_id'] }}')" class="track">Track Product</button>
                </section>
                {% endif %}
            </div>
            <div class="table_history">
                <h2>Price history</h2>
                <table>
                    <tr>
                        <th>Low Price</th>
                        <th>High Price</th>
                        <th>Avg Price</th>
                    </tr>
                    <tr>
                        {% for range in item['price_range'] %}
                            <td>₹{{  item['price_range'][range] }}</td>`
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    <footer>
      <p>
	SHOPPING MADE EASIER
      </p>
    </footer>
  <script>
      function visitHomepage() {
        window.location.href = "/";
      }

      function searchPage() {

        searchQuery = document.getElementsByClassName("search-input")[0].value
        if (searchQuery) {
            window.location.href = "/search?query=" + searchQuery;
        }
      }

      function trackProduct(product_id) {
        console.log(product_id)
        customer_id = document.getElementById(product_id).value;
        console.log(product_id);
        console.log(customer_id);
        url = "/create_customer_mapping?product_id=" + product_id + "&customer_id=" + customer_id;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                  alert("Tracked Product for user id: " + customer_id);
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
      }
  </script>
  </body>
</html>
