<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
    <title>GraphIt</title>
   <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product_common.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}?{{ cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/filters.css') }}?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/homepage.js?{{ cache_id }}"></script>
  </head>
  <body>
   <header>
      <div class="logo">
	<img src="download.jpeg" alt="GraphIt" style="height:100px; width: 500px;">
      </div>
    </header>

  <section class="filters">
  <input type="text" class="input-group-field" name="sq" id="sq" value="" title="Enter keywords to find products" placeholder="Enter keywords to find products" style="height:60px; width: 800px;">
  <button>
	  Q
  </button>
  </section>
  <main class="container">
  
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img data-image="black" src="images/black.png" alt="">
    <img data-image="blue" src="images/blue.png" alt="">
    <img data-image="red" class="active" src="images/red.png" alt="">
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      { % for item in items % }
      <h1>{{ item["title"] }}</h1>
      <p>{{ item["productDescription"] }}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <div class="product-color">
        <span>Color</span>

        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>

      </div>

      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Cable configuration</span>

        <div class="cable-choose">
          <button>Straight</button>
      <span></span>
          <button>Coiled</button>
          <button>Long-coiled</button>
        </div>

        <a href="#">How to configurate your headphones</a>
      </div>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>148$</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>
</main>
  <footer>
      <p>
	SHOPPING MADE EASIER
      </p>
    </footer>
  </body>
</html>
