header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    margin-top: 0px;
}

img {
    width: 90px;
    height: 50px;
}

.user {
    font-size: 18px;
    color: black;
    background-color: #e1e8ee;
    height: 35px;
    border: 0px;
    border-radius: 4px;
    width: 15%;
    margin-left: auto;
    margin-right: 20px;
    opacity: 1;
    display: inline-block;
    float: right;
}

.user:hover {
    opacity:0.8
}

